body {
  background-color: #005ed9;
  margin: 0;
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  z-index: 100;
}

.images {
  position: absolute;
  z-index: 999;
  left: 100px;
  height: 15px;
  width: auto;
  top: 25px;
}
